WebContent/wsdl/operator.wsdl

<wsdl:definitions name="OperatorWebService" targetNamespace="http://service.operator.dematbox.sagemcom.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.operator.dematbox.sagemcom.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.operator.dematbox.sagemcom.com/" elementFormDefault="unqualified" targetNamespace="http://service.operator.dematbox.sagemcom.com/" version="1.0">
<xs:element name="PingOperator" type="tns:PingOperator"/>
<xs:element name="PingOperatorResponse" type="tns:PingOperatorResponse"/>
<xs:element name="SendFile" type="tns:SendFile"/>
<xs:element name="SendFileResponse" type="tns:SendFileResponse"/>
<xs:complexType name="SendFile">
<xs:sequence>
<xs:element form="qualified" maxOccurs="1" minOccurs="0" name="boxId" type="xs:string"/>
<xs:element form="qualified" maxOccurs="1" minOccurs="1" name="serviceId" type="xs:int"/>
<xs:element form="qualified" maxOccurs="1" minOccurs="0" name="virtualBoxId" type="xs:string"/>
<xs:element form="qualified" maxOccurs="1" minOccurs="1" name="docId" type="xs:long"/>
<xs:element form="qualified" maxOccurs="1" minOccurs="0" name="rawScan" type="xs:base64Binary"/>
<xs:element form="qualified" maxOccurs="1" minOccurs="0" name="rawFileExtension" type="xs:string"/>
<xs:element form="qualified" maxOccurs="1" minOccurs="0" name="improvedScan" type="xs:base64Binary"/>
<xs:element form="qualified" maxOccurs="1" minOccurs="0" name="improvedFileExtension" type="xs:string"/>
<xs:element form="qualified" maxOccurs="1" minOccurs="0" name="text" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SendFileResponse">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="errorReturn" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PingOperator">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="PingOperatorResponse">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="errorReturn" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="SendFileResponse">
    <wsdl:part name="parameters" element="tns:SendFileResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PingOperatorResponse">
    <wsdl:part name="parameters" element="tns:PingOperatorResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SendFile">
    <wsdl:part name="parameters" element="tns:SendFile">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PingOperator">
    <wsdl:part name="parameters" element="tns:PingOperator">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OperatorWebServiceInterface">
    <wsdl:operation name="SendFile">
      <wsdl:input name="SendFile" message="tns:SendFile">
    </wsdl:input>
      <wsdl:output name="SendFileResponse" message="tns:SendFileResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingOperator">
      <wsdl:input name="PingOperator" message="tns:PingOperator">
    </wsdl:input>
      <wsdl:output name="PingOperatorResponse" message="tns:PingOperatorResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OperatorWebServiceSoapBinding" type="tns:OperatorWebServiceInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SendFile">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="SendFile">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SendFileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingOperator">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="PingOperator">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="PingOperatorResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OperatorWebService">
    <wsdl:port name="OperatorWebServicePort" binding="tns:OperatorWebServiceSoapBinding">
      <soap:address location="http://localhost:8080/SdkOperator/services/OperatorWebService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
